h1 {
    color: blue;
}
h3 {
    color: orange
}
.purple {
    color: purple
}

#red {
    color: red;
}

.box{
    background-color: green;
    height: 100px;
    width: 100px
    padding: 20px
    margin:20px;
    border: 10px solid black;
}